requests
beautifulsoup4
pandas
tensorflow
scikit-learn
gspread
oauth2client
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread_formatting
numpy
pandas
tensorflow==2.15.0
google-api-python-client
gspread
oauth2client
scikit-learn


