name: Ejecutar Predictor Loto

on:
  schedule:
    - cron: "0 * * * *"     # se ejecuta cada hora en UTC
  workflow_dispatch:         # permite lanzarlo manualmente

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Crear archivo de credenciales
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: |
          echo "$GOOGLE_CREDENTIALS" > creds.json
          echo "Archivo creds.json generado"

      - name: Ejecutar script
        run: |
          python main.py --creds creds.json
